.carousel {
  height: 500px;
  margin: auto;
}

.carousel-item {
  height: 500px;
}

.heading-container {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  height: 500px;
  background-color: #F9F7F7
}

.title {
  padding-bottom: 20px;
}

.subtitle {
  padding-bottom: 50px;
}

.home-container {
  padding-top: 50px;
}

.carousel-container {
  margin: auto;
  background-color: #112D4E;
}

.cta-container {
  padding-top: 75px;
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.social-icon {
  padding-right: 10px;
  padding-left: 10px;
}

.product-img {
  height: 300px;
}

.col-md-3 {
  padding-top: 20px;
  padding-left: 30px;
  flex: 25%;
  max-width: 25%;
  align-items: center;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .col-md-3 {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .col-md-3 {
    flex: 100%;
    max-width: 100%;
  }
}

.caption {
  background-color: #DBE2EF;
}

.user-bio {
  padding-top: 50px;
  align-items: center;
  text-align: center;
}

.user-info {
    background-color: #F9F7F7
}

.user-option {
  padding-top: 17px;
}

.test-container {
  align-items: center;
}

.test-text {
  background-color: #F9F7F7;
}
